<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="myInit" default-destroy-method="destroyMethod">

    <bean id="triangle"  class="org.kishan.Triangle">
        <property name="pointa" ref="PointA"/>
        <property name="pointb" ref="PointB"/>
   	    <property name="pointc" ref="PointC"/>
    </bean>
    
    <bean id="PointA" class="org.kishan.Point">
        <property name="x" value="${pointA.x}"/>
        <property name="y" value="${pointa.y}"/>
    </bean>
    
    <bean id="PointB" class="org.kishan.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>
    
    <bean id="PointC" class="org.kishan.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>
    
   <!--  <bean class="org.kishan.BeanFactoryPP"/> -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:pointscofig.properties"/>
    </bean>
</beans>
 