<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- <bean id="triangle" class="org.kishan.Triangle">
    <constructor-arg value="Scalene1" type="java.lang.String"/>
    <constructor-arg value="20" type="int"/>
    </bean> -->
    
    <bean id="triangle" class="org.kishan.Triangle">
    <constructor-arg index="0" value="Scalene1"/>
    <constructor-arg index="1" value="20" />
    </bean>
</beans>